body {
    text-align: center;
}

.dark-blue {
    color:navy ;
}

.fs-48 {
    font-size: 48px;
}

ul {
    display: inline-block;
}

ol {
    display: inline-block;
}
.title {
    text-align: left;
    color:darkorange;
}
.left {
    text-align: left;
}